#version=DEVEL
ignoredisk --only-use=sda
iscsiname iqn.1994-05.com.redhat:ca92f441c65
# Partition clearing information
clearpart --all --initlabel
# OSTree setup
ostreesetup --osname="fedora" --remote="fedora" --url="file:///ostree/repo" --ref="fedora/31/x86_64/silverblue" --nogpg
# Use graphical install
graphical
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us','ru' --switch='grp:toggle'
# System language
lang en_US.UTF-8 --addsupport=ru_RU.UTF-8

# Firewall configuration
firewall --use-system-defaults
# Network information
network  --hostname=localhost.localdomain
#Root password
rootpw --lock
# Run the Setup Agent on first boot
firstboot --enable
# System services
services --enabled="chronyd"
# System timezone
timezone Asia/Novosibirsk --isUtc
# Disk partitioning information
part /boot --fstype="ext4" --ondisk=sda --size=1024
part /boot/efi --fstype="efi" --ondisk=sda --size=600 --fsoptions="umask=0077,shortname=winnt"
part / --fstype="ext4" --ondisk=sda --size=125382 --encrypted --luks-version=luks2
part swap --fstype="swap" --ondisk=sda --size=4064

%post --erroronfail
cp /etc/skel/.bash* /root
%end

%addon com_redhat_kdump --disable --reserve-mb='128'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
