[Desktop Entry]
Type=Application
Name=Calcurse
Comment=Text-based organizer
Exec=/usr/bin/calcurse --directory "Projects/todo/calcurse/"
Terminal=true
